
<div class="header">
	<div class="logo">IRM</div
	><div class="title">Find influencer by Hashtags</div>
</div>
<div class="page">
	<div class="menu">
		<a href="/influencers">Influencers</a>
		<a href="/tags">Tags</a>
		<a href="/influencers/new">Add Influencer</a>
		<a href="/tags/new" class="active">Add Tag</a>
	</div>
	<div class="content">
		
		<%= form_for @tags do |f| %>
			<p>
				<%= f.label :user %> <br>
				<%= f.text_field :user %>
			</p>

			<p>
				<%= f.submit %>
			</p>
		<% end %>

	</div>
</div>